/* Hero banner */
.hero-banner {
  background-color: var(--couleur-principale);
  color: var(--couleur-blanc);
  text-align: center;
  padding: var(--espace-tres-grand) var(--espace-moyen);
}

.hero-banner h1 {
  font-size: var(--taille-texte-tres-grand);
}

/* Conteneur de films */
.films-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: var(--espace-moyen);
  padding: var(--espace-moyen);
}

/* Carte de film */
.film-card {
  border-radius: var(--bordure-radius-moyen);
  padding: var(--espace-petit);
  background-color: var(--couleur-blanc);
  box-shadow: var(--ombre-legere);
  transition: transform 0.4s ease-in-out;
}

.film-card:hover {
  transform: translateY(-5px);
}

.film-card h3 {
  font-size: var(--taille-texte-grand);
  margin-bottom: var(--espace-petit);
}

.film-card p {
  font-size: var(--taille-texte-moyen);
  margin-bottom: var(--espace-petit);
}

.film-card img {
  width: 100%;
  height: auto;
  border-radius: var(--bordure-radius-petit);
}

/* Lien de la carte de film */
.film-card-link {
  text-decoration: none;
  color: inherit;
}


.movie--isloading {
  height: 252px;
  border-radius: var(--bordure-radius-petit);
  overflow: hidden;
  margin-bottom: var(--espace-moyen);
}

.movie--isloading .loading-image {
  height: 190px;
  background-image: linear-gradient(90deg, var(--couleur-clair-2) 0px, var(--couleur-clair) 40px, var(--couleur-clair-2) 80px);
  background-size: 250px;
  animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: var(--couleur-fond);
  padding: var(--espace-moyen);
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: var(--espace-petit);
  background: var(--couleur-clair-2);
  background-image: linear-gradient(90deg, var(--couleur-clair-2) 0px, var(--couleur-clair) 40px, var(--couleur-clair-2) 80px);
  background-size: 250px;
  border-radius: var(--bordure-radius-petit);
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: var(--couleur-clair-2);
  background-image: linear-gradient(90deg, var(--couleur-clair-2) 0px, var(--couleur-clair) 40px, var(--couleur-clair-2) 80px);
  background-size: 250px;
  border-radius: var(--bordure-radius-petit);
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: var(--couleur-clair-2);
  background-image: linear-gradient(90deg, var(--couleur-clair-2) 0px, var(--couleur-clair) 40px, var(--couleur-clair-2) 80px);
  background-size: 250px;
  border-radius: var(--bordure-radius-moyen);
  animation: shine-loading-container-items 2s infinite ease-out;
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}
