.filtre-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filtre {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: var(--bordure-radius-moyen);
  overflow: hidden;
  padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.filtre li {
  padding: var(--espace-moyen);
  cursor: pointer;
  color: var(--couleur-texte);
  transition: color 0.3s;
  margin: 0 var(--espace-petit);
  position: relative;
  flex: 1 1 calc(15%);
  box-sizing: border-box;
  text-align: center;
}

.filtre li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: red;
  left: 50%;
  bottom: 0;
  transition: width 0.3s, left 0.3s;
}

.filtre li:hover::after {
  width: 100%;
  left: 0;
}

.filtre li.active::after {
  width: 100%;
  left: 0;
  background-color: #F5C518;
}

.filtre li.active {
  color: var(--couleur-texte-inverse);
}

.wrapper {
  display: flex;
  
  align-items: center;
  max-width: var(--largeur-max-conteneur);
  margin: 0 auto;
}
