.star-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.rating-value {
  font-size: 18px;
  margin-bottom: 5px;
}

.stars {
  display: flex;
}

.star {
  font-size: 35px;
  color: var(--couleur-clair);
  cursor: pointer;
  transition: color 0.3s;
}

.star.filled {
  color: #eef518;
}