.carrossel-container {
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.carrossel-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrossel-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.carrossel-title {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
}

@media (max-width: 768px) {
  .carrossel-image {
    max-width: 200px;
  }

  .carrossel-title {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .carrossel-image {
    max-width: 150px;
  }

  .carrossel-title {
    font-size: 0.9em;
  }
}
